.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    width: 100%;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 260px;
    background-color: #3c3d40;
    color: white;
}

.nav-link {
    padding: 35px 35px 0; 
    font-size: 16px;
}

.nav-icon {
    float: right;
    margin-top: 3px;
    &:hover {
        cursor: pointer;
    }
}
